.headerContentWrapperStyle {
  display: none;
  padding-top: 15px;
  padding-bottom: 18px;
  flex-direction: row;
  padding-left: clamp(
    40px,
    calc(40px + (134 - 40) * ((100vw - 768px) / (1440 - 768))),
    134px
  );
  padding-right: clamp(
    40px,
    calc(40px + (134 - 40) * ((100vw - 768px) / (1440 - 768))),
    134px
  );
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .headerContentWrapperStyle {
    display: flex;
  }
}

.logoStyle {
  cursor: pointer;
  width: clamp(
    80px,
    calc(80px + (138 - 80) * ((100vw - 768px) / (1440 - 768))),
    138px
  );
  height: auto;
}

.branchStyle {
  width: clamp(
    20px,
    calc(20px + (37 - 20) * ((100vw - 768px) / (1440 - 768))),
    37px
  );

  height: auto;
}

.advantageTextStyle {
  font-family: 'Harmonia Sans Pro Cyr';
  font-size: clamp(
    12px,
    calc(12px + (14 - 12) * ((100vw - 768px) / (1440 - 768))),
    14px
  );
  line-height: clamp(
    12px,
    calc(12px + (14 - 12) * ((100vw - 768px) / (1440 - 768))),
    14px
  );
  color: #f1c14d;
  font-weight: 600;
  text-align: center;
}

.callbackButton {
  display: flex; /* Use flexbox for vertical alignment */
  align-items: center; /* Center content vertically */
  border-radius: 22px;
  width: clamp(
    130px,
    calc(130px + (203 - 130) * ((100vw - 768px) / (1440 - 768))),
    203px
  );
  height: clamp(
    25px,
    calc(25px + (36 - 25) * ((100vw - 768px) / (1440 - 768))),
    36px
  );
  font-size: clamp(
    9px,
    calc(9px + (12 - 9) * ((100vw - 768px) / (1440 - 768))),
    12px
  );
  line-height: clamp(
    12px,
    calc(12px + (14 - 12) * ((100vw - 768px) / (1440 - 768))),
    14px
  );
  padding-left: clamp(
    10px,
    calc(10px + (30 - 10) * ((100vw - 768px) / (1440 - 768))),
    30px
  );
  padding-right: clamp(
    10px,
    calc(10px + (30 - 10) * ((100vw - 768px) / (1440 - 768))),
    30px
  );
}

.icon {
  width: clamp(
    18px,
    calc(18px + (26 - 18) * ((100vw - 768px) / (1440 - 768))),
    26px
  );
  height: auto; /* Maintain aspect ratio */
}

.iconsContainer {
  display: flex;
  align-items: center;
  gap: clamp(
    4px,
    calc(4px + (22 - 4) * ((100vw - 768px) / (1440 - 768))),
    22px
  );
}
