.sectionWrapper {
  position: relative;
  background: linear-gradient(to right, #70b3ff, #70dbfc);
  height: 1000px;
  overflow: hidden;

  @media (min-width: 768px) {
    height: 1040px;
  }
}

.customContainer {
  z-index: 10;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
  padding-left: clamp(
    16px,
    calc(16px + (134 - 16) * ((100vw - 768px) / (1440 - 768))),
    134px
  );
  padding-right: clamp(
    16px,
    calc(16px + (134 - 16) * ((100vw - 768px) / (1440 - 768))),
    134px
  );
}

/* Остальные стили остаются без изменений */
.title {
  text-transform: uppercase;
  color: white;
  font-size: 24px;

  @media (min-width: 768px) {
    font-size: 40px;
  }
}

.divider {
  width: 40px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
  margin-top: 10px;

  @media (min-width: 768px) {
    width: 50px;
    margin-top: 22px;
  }
}

.subtitle {
  color: white;
  font-size: 12px;
  margin-top: 16px;
  max-width: 332px;
  font-family: "Harmonia Sans Pro Cyr";

  @media (min-width: 768px) {
    font-size: 18px;
    max-width: 652px;
  }
}

.cloudContainer {
  position: absolute;
  inset: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
}
