.doubledTextAtBottom {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.56);
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin-top: 6px;
}

.textWithInnerShadow {
  background-color: #ffffff;
  text-shadow: 0px 1px 0px rgba(108, 106, 106, 0.56);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.mainButtonStyle {
  position: absolute;
  background: linear-gradient(180deg, #fbe203 39.48%, #fbbf06 100%);
  box-shadow: 0 3px 0px 0px #e9a502;
  color: #50636a;
  border-radius: 5px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 1px;
  height: 41px;
  top: 0;
  right: 0;

  @media (max-width: 768px) {
    position: static;
    margin-top: 6px;
    width: 100% !important;
    z-index: 1;
    box-shadow: 0 3px 0px 0px #e9a502,
                0 10px 16px -3px rgba(233, 165, 2, 0.5);
  }
}

.mainButtonStyle:hover {
  background: #fbe203;
}

.secondaryButtonStyle {
  position: relative;
  background: linear-gradient(180deg, #70c6fd 0%, #23b4e4 100%);
  box-shadow: inset 0 -3px 0px 0px #0184b6,
    0 10px 15px -3px rgba(112, 198, 253, 0.6),
    0 4px 6px -2px rgba(112, 198, 253, 0.6);
  color: #ffffff;
  height: 44px;
  width: 300px !important;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 16px;
  font-weight: 700;
  border-radius: 5px;
}

.secondaryButtonStyle:hover {
  background: #81d1ff; /* Change background on hover */
}

.commonButtonStyle {
  font-family: 'Harmonia Sans Pro Cyr';
  text-transform: uppercase;
  max-width: 100%;
  width: 231px;
  display: flex;
  justify-content: center;
  align-items: center;
}
