.card {
  position: relative;
  width: auto;
  height: 430px;
  background-color: white;
  border-radius: 30px;
  border: 1px solid #E8E8E8;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  font-family: 'Harmonia Sans Pro Cyr', sans-serif;
  filter: drop-shadow(9px 10px 30px rgba(49, 98, 141, 0.36));
}

.backgroundCard {
  pointer-events: none;
  filter: drop-shadow(4px 5px 15px rgba(49, 98, 141, 0.2));
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.9); /* Чуть затемняем фон */
}

@media (min-width: 768px) {
  .card {
    width: 358px;
  }
  
  .backgroundCard {
    transform-origin: center;
    scale: 0.667; /* 1/1.5 */
  }
}

.title {
  font-size: 1.125rem;
  color: #4BA3FF;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
  font-style: italic;
  letter-spacing: 0.02em;
}

.content {
  position: relative;
  height: 317px;
  overflow-y: auto;
  padding-right: 3rem;
}

.text {
  white-space: pre-line;
  color: #50636A;
  font-family: 'Harmonia Sans Pro Cyr', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-left: 3.33rem;
}