.quoteBlockWrapperStyle {
  background-color: white;
  height: fit-content;
  width: 574px;
  border-radius: 20px;
  border: 1px solid rgba(125, 173, 205, 0.37);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 16px 18px 16px;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .quoteBlockWrapperStyle {
    width: 574px;
    padding: 24px 23px 20px 23px;
    position: relative;
  }
}

@media (min-width: 768px) and (max-width: 1140px) {
  .quoteBlockWrapperStyle {
    display: none; /* Hide the element */
  }
}

.quoteBlockInnerContent {
  color: #50636a;
  font-size: 13px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 14px 12px;
  border-radius: 15px;
  line-height: 16px;
  overflow: hidden;
  position: relative;
}

.quoteBlockInnerContent::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  border: 1px solid rgba(125, 173, 205, 0.4); /* Inner border */
  pointer-events: none;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .quoteBlockInnerContent {
    font-size: 16px;
    line-height: 23px;
    padding: 21px 36px;
  }
}

.cornerCircle {
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgba(125, 173, 205, 0.4);
  z-index: 1; /* Ensures the circles appear above the pseudo-element */
}

@media (max-width: 768px) {
  .cornerCircle {
    width: 24px;
    height: 24px;
  }
}

.cornerCircleTopLeft {
  top: 0px;
  left: 0px;
  transform: translate(-50%, -50%);
}

.cornerCircleTopRight {
  top: 0px;
  right: 0px;
  transform: translate(50%, -50%);
}

.cornerCircleBottomLeft {
  bottom: 0px;
  left: 0px;
  transform: translate(-50%, 50%);
}

.cornerCircleBottomRight {
  bottom: 0px;
  right: 0px;
  transform: translate(50%, 50%);
}

.textContainerStyle {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 455px;
  margin: 0 auto;
  font-family: 'Harmonia Sans Pro Cyr';
}

@media (max-width: 768px) {
  .textContainerStyle {
    max-width: 100%;
  }
}
