.sectionWrapper {
  background: white;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;

  @media (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.customContainer {
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
  padding-left: clamp(
    16px,
    calc(16px + (134 - 16) * ((100vw - 768px) / (1920 - 768))),
    134px
  );
  padding-right: clamp(
    16px,
    calc(16px + (134 - 16) * ((100vw - 768px) / (1920 - 768))),
    134px
  );
}

.alphabetBackground {
  position: absolute;
  top: -5px;
  right: 40px;
  display: none;

  @media (min-width: 768px) {
    display: block;
  }

  @media (min-width: 1920px) {
    right: 320px;
  }
}

.title {
  color: #25253F;
  font-size: 24px;
  text-transform: uppercase;
  position: relative;

  @media (min-width: 768px) {
    font-size: 55px;
  }
}

.divider {
  width: 40px;
  height: 5px;
  background-color: #0E9EFF;
  border-radius: 2px;
  margin-top: 10px;

  @media (min-width: 768px) {
    width: 50px;
    margin-top: 20px;
  }
}

.description {
  color: #29383D;
  font-size: 12px;
  margin-top: 10px;
  max-width: 659px;

  @media (min-width: 768px) {
    font-size: 14px;
    margin-top: 20px;
  }
}

.carouselWrapper {
  margin-top: 12px;
  position: relative;

  @media (min-width: 768px) {
    margin-top: 16px;
  }
}