.customContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: clamp(
    16px,
    calc(16px + (134 - 16) * ((100vw - 768px) / (1920 - 768))),
    134px
  );
  padding-right: clamp(
    16px,
    calc(16px + (134 - 16) * ((100vw - 768px) / (1920 - 768))),
    134px
  );
  position: relative;
}