.title {
  font-size: 1.125rem;
  color: #4ba3ff;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
  font-style: italic;
  letter-spacing: 0.02em;
  background-color: white;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 1rem;
  z-index: 2;
  white-space: nowrap;
  background: white;
}

.content {
  position: relative;
  height: 22rem;
  overflow-y: auto;
  padding-right: 3rem;
  scrollbar-width: thin;
  scrollbar-color: #0e9eff transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.content::-webkit-scrollbar {
  width: 0.25rem;
  background-color: #0e9eff;
}

.content::-webkit-scrollbar-track {
  background-color: transparent;
}

.content::-webkit-scrollbar-thumb {
  background-color: rgba(14, 158, 255, 0.2);
  border-radius: 0.125rem;
  height: 10.625rem;
}

.backgroundCard .content {
  scrollbar-width: none;
}

.backgroundCard .content::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.text {
  white-space: pre-line;
  color: #50636a;
  font-family: "Harmonia Sans Pro Cyr", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-left: 1.5rem;
}

.poemWrapperStyle {
  background-color: white;
  height: 26.875rem;
  width: 22.4375rem;
  border-radius: 1.25rem;
  border: 1px solid rgba(125, 173, 205, 0.37);
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Harmonia Sans Pro Cyr", sans-serif;
  filter: drop-shadow(0.5625rem 0.625rem 1.875rem rgba(49, 98, 141, 0.36));
}

.backgroundCard {
  pointer-events: none;
  width: 21rem !important;
  height: 27.125rem !important;
  filter: drop-shadow(0.25rem 0.3125rem 0.9375rem rgba(49, 98, 141, 0.2));
  backdrop-filter: blur(0.25rem);
  background-color: rgba(255, 255, 255, 0.9);
}

@media (min-width: 768px) {
  .poemWrapperStyle {
    width: 22.4375rem;
    padding: 1.55rem;
    position: relative;
  }

  .backgroundCard {
    transform-origin: center;
    scale: 0.667;
  }
}

.poemInnerContent {
  color: #50636a;
  font-size: 0.8125rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.875rem 0.75rem;
  border-radius: 0.9375rem;
  line-height: 1rem;
  overflow: hidden;
  position: relative;
}

.poemInnerContent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.9375rem;
  border: 1px solid rgba(125, 173, 205, 0.4);
  pointer-events: none;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .poemInnerContent {
    font-size: 1rem;
    line-height: 1.4375rem;
  }
}

.cornerCircle {
  position: absolute;
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgba(125, 173, 205, 0.4);
  z-index: 1;
}

@media (max-width: 768px) {
  .cornerCircle {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.cornerCircleTopLeft {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.cornerCircleTopRight {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.cornerCircleBottomLeft {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}

.cornerCircleBottomRight {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}