.CTABlock {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 204.48px;
}

@media (min-width: 768px) {
  .CTABlock {
    min-width: 204.48px;
  }
}

@media (min-width: 768px) and (max-width: 1020px) {
  .CTABlock {
    min-width: 50%;
  }
}

@media (max-width: 767px) {
  .CTABlock {
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    max-width: 100%;
  }
}

.CTABlockMobile {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
