.CTABlock {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 204.48px;
}

@media (min-width: 768px) {
  .CTABlock {
    min-width: 204.48px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .CTABlock {
    min-width: 50%;
  }
}

@media (max-width: 767px) {
  .CTABlock {
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    max-width: 100%;
  }
}

.CTABlockMobile {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.email {
  color: #ed5640; /* Corresponds to text-[#ED5640] */
  line-height: 1.2;
  border-bottom: 1px solid #ed5640;
  font-size: 16px; /* Example size for text-h3, adjust as needed */
  margin-left: auto; /* Corresponds to mx-auto */
  margin-right: auto; /* Corresponds to mx-auto */
}

.email:hover {
  border-bottom: 1px solid white;
}

@media (min-width: 768px) {
  .email {
    margin-left: 0; /* Corresponds to md:mx-0 */
    margin-right: 0; /* Corresponds to md:mx-0 */
  }
}
