@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Harmonia Sans Pro Cyr';
  src: url('./fonts/HarmoniaSansProCyr-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Harmonia Sans Pro Cyr';
  src: url('./fonts/HarmoniaSansProCyr-Bold.ttf') format('opentype');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Harmonia Sans Pro Cyr';
  src: url('./fonts/HarmoniaSans-Light.otf') format('opentype');
  font-weight: 200;
  font-style: light;
  font-display: swap;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.light {
  font-weight: 200;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

h1 {
  @apply font-harmonia text-h1;
}

h2 {
  @apply font-harmonia text-h2;
}

h3 {
  @apply font-harmonia text-h3;
}

h4 {
  @apply font-harmonia text-h4;
}

h5 {
  @apply font-harmonia text-h5;
}
.overlay {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}
.overlay::after {
  content: "";
  position: absolute;
  width: 300%;
  height: 400%;
  top: 25%;
  left: -100%;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 50%,
    rgba(255, 0, 0, 0) 50%,
    rgba(255, 0, 0, 0) 100%
  );
}
