.Button404 {
  position: relative !important;
  width: 231px !important;
  margin-top: 41px;
}

@media (max-width: 768px) {
  .Button404 {
    width: 100% !important;
    margin-top: 32px;
    box-shadow: none;
  }
}