.customContainer {
  z-index: 10; /* Equivalent to z-10 */
  display: flex; /* Equivalent to flex */
  flex-direction: column; /* Equivalent to flex-col */
  max-width: 1440px; /* Equivalent to max-w-[1440px] */
  margin: 0 auto;
  padding-left: clamp(
    40px,
    calc(40px + (134 - 40) * ((100vw - 768px) / (1440 - 768))),
    134px
  );
  padding-right: clamp(
    40px,
    calc(40px + (134 - 40) * ((100vw - 768px) / (1440 - 768))),
    134px
  );
}

@media (min-width: 768px) {
  .customContainer {
    flex-direction: row; /* Equivalent to md:flex-row */
  }
}
