.sectionWrapper {
  position: relative;
  background: #e2f2ff;
  overflow: hidden;
  padding-bottom: 20px;

  @media (min-width: 768px) {
    padding-bottom: 67px;
  }
}

.breadcrumbsWrapper {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: clamp(
    16px,
    calc(16px + (134 - 16) * ((100vw - 768px) / (1440 - 768))),
    134px
  );
  padding-top: 19px;

  @media (min-width: 768px) {
    padding-top: 21px;
  }
}

.customContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: clamp(
    16px,
    calc(16px + (134 - 16) * ((100vw - 768px) / (1440 - 768))),
    134px
  );
  padding-right: clamp(
    16px,
    calc(16px + (134 - 16) * ((100vw - 768px) / (1440 - 768))),
    134px
  );
  position: relative;
}
