.checkoutButton {
    position: relative !important;
    width: 200px !important;
}

.foreignCardButton {
    position: relative !important;
    margin-bottom: 30px;
    @apply w-[340px] md:w-[199px] h-[44px] mt-6
}