.bgmusicWrapper {
  position: relative;
  z-index: 99;
}

.bgmusicButton {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgmusicButton {
  width: 320px;
  height: 320px;
}

@media (min-width: 768px) {
  .bgmusicButton {
    width: clamp(
      320px,
      calc(320px + (350 - 320) * ((100vw - 768px) / (1440 - 768))),
      350px
    );
    height: clamp(
      320px,
      calc(320px + (350 - 320) * ((100vw - 768px) / (1440 - 768))),
      350px
    );
  }
}

@media (max-width: 768px) {
  .bgmusicButton {
    .bgmusicButton {
      width: clamp(
        240px,
        calc(240px + (355 - 240) * ((100vw - 320px) / (768 - 320))),
        355px
      );
      height: auto;
      max-width: 100%;
      aspect-ratio: 1 / 1;
    }
  }
}

.playOwlStyle {
  position: absolute;
  top: -50px;
  left: -66px;
  opacity: 0.5;
  width: clamp(
    430px,
    calc(240px + (430 - 240) * ((100vw - 320px) / (768 - 320))),
    430px
  );
  height: auto;
  aspect-ratio: 1 / 1;

  @media (max-width: 767px) {
    left: 50%;
    transform: translateX(-50%);
  }
}

.playingOwlStyle {
  position: absolute;
  top: -14px;
  left: -45px;
  width: clamp(
    240px,
    calc(330px + (330 - 240) * ((100vw - 320px) / (768 - 320))),
    330px
  );
  height: auto;
  aspect-ratio: 1 / 1;
  @media (max-width: 767px) {
    left: clamp(
      113px,
      calc(113px + (334 - 113) * ((100vw - 320px) / (768 - 320))),
      334px
    );
    transform: translateX(-50%);
  }
}
