.ideaWrapper {
  position: relative;
  width: 167px;
  height: 236px;
  border: 5px solid #b1e1fc;
  transition: all 0.3s ease;
  border-radius: 5px;
  overflow: hidden;
}

.ideaWrapper:hover {
  border-color: #FFC000;
}