.servicesBlock {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.75rem;
}

@media (min-width: 768px) and (max-width: 1020px) {
  .servicesBlock {
    min-width: 50%;
  }
}

@media (max-width: 767px) {
  .servicesBlock {
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 25px;
    max-width: 100%;
  }
}
