.roadmapWrapper {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: clamp(
    30px,
    calc(30px + (134 - 30) * ((100vw - 768px) / (1440 - 768))),
    134px
  );
  padding-right: clamp(
    30px,
    calc(30px + (134 - 30) * ((100vw - 768px) / (1440 - 768))),
    134px
  );
}
