.sectionWrapper {
  background-color: white;
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  padding-left: clamp(
    16px,
    calc(14px + (134 - 16) * ((100vw - 768px) / (1920 - 768))),
    134px
  );
  padding-right: clamp(
    16px,
    calc(0px + (134 - 16) * ((100vw - 768px) / (1920 - 768))),
    134px
  );
}

@media (min-width: 768px) {
  .sectionWrapper {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}
